# ==========================================
# ⚙️ CONFIGURACIÓN DEL ENTORNO DE DESARROLLO
# ==========================================

# Puerto de la API REST
PORT=3000

# ==========================================
# 🍃 BASE DE DATOS MONGODB (DOCKER)
# ==========================================
MONGODB_URI=mongodb://admin:adminpassword123@localhost:27018/weightcontrol?authSource=admin
MONGODB_DB_NAME=weightcontrol

# ==========================================
# ⚡ CACHÉ REDIS (DOCKER)
# ==========================================
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# ==========================================
# 🔐 SEGURIDAD Y JWT
# ==========================================
JWT_SECRET=super_secret_jwt_key_weightcontrol_2026
JWT_EXPIRES_IN=24h
